### Terry Lashley 
#### RevolutionEHR and the Data Conversion Specialist position
#### Take-home exercise

In [2]:
#Import Dependencies
import pandas as pd

In [3]:
# Create variable for data file to pull with pandas
csv_path = "activity_data.csv"
activity_df = pd.read_csv(csv_path)

#display and review dataset for analysis
activity_df.head()

,Last_Name,First_Name,Email,Activity,Duration (minutes),Date
0,Van-Damme,Krista,krista.van-damme@gmail.com,Bike,54,2020-10-20
1,Perez,Kim,kim.perez@gmail.com,Run,43,2020-10-20
2,Gurrala,Evelyn,evelyn.gurrala@gmail.com,Run,54,2020-10-17
3,Perez,Kim,KP_2020@gmail.com,Bike,19,2020-10-20
4,Douberley,Tareq,tareq.douberley@gmail.com,Bike,7,2020-10-18

In [4]:
#Verify column types / identify if any changes are needed
activity_df.dtypes

Last_Name              object
 First_Name            object
 Email                 object
 Activity              object
 Duration (minutes)     int64
 Date                  object
dtype: object

In [5]:
#Renamed Duration column for ease of use 
activity_df.columns = ['Last_name', 'First_name', 'Email', 'Activity', 'Duration', 'Date']

activity_df.head()

,Last_name,First_name,Email,Activity,Duration,Date
0,Van-Damme,Krista,krista.van-damme@gmail.com,Bike,54,2020-10-20
1,Perez,Kim,kim.perez@gmail.com,Run,43,2020-10-20
2,Gurrala,Evelyn,evelyn.gurrala@gmail.com,Run,54,2020-10-17
3,Perez,Kim,KP_2020@gmail.com,Bike,19,2020-10-20
4,Douberley,Tareq,tareq.douberley@gmail.com,Bike,7,2020-10-18

### What is the largest single exercise interval ever logged?  
#### The Longest Interval was 100 Minutes by Perez

In [6]:
#Sort the data set using the duration column bringning the highest value to the first line
highest_minutes_df = activity_df.sort_values("Duration", ascending=False)
highest_minutes_df.head(3)

,Last_name,First_name,Email,Activity,Duration,Date
424,Perez,Kim,kim.perez@gmail.com,Swim,100,2020-10-18
500,Oettinger,David,oettinger@gmail.com,Bike,60,2020-10-19
913,Gurrala,Evelyn,evelyn.gurrala@gmail.com,Swim,60,2020-10-21

### What is David Douberley's longest run this week? (October 17 2020 - October 23 2020). 

#### Mr. Douberley's longest run the date range provided was 59 minutes

In [7]:
#cleaned up the data / removed email to limit data not being used
long_run_df = activity_df[["Last_name", "First_name", "Activity", "Duration", "Date"]]
long_run_df.head(3)

   Last_name First_name Activity  Duration        Date
0  Van-Damme     Krista     Bike        54  2020-10-20
1      Perez        Kim      Run        43  2020-10-20
2    Gurrala     Evelyn      Run        54  2020-10-17

In [18]:
#Reduced the data set only Douberley, D
david_df = long_run_df[(long_run_df.Last_name == "Douberley") & (long_run_df.First_name == "David")]
david_df.head(3)

    Last_name First_name Activity  Duration        Date
30  Douberley      David     Swim        25  2020-10-23
36  Douberley      David      Run        43  2020-10-20
62  Douberley      David     Bike        57  2020-10-15

In [9]:
#Reduced data set to "Run" activity only
david_run = david_df[(david_df.Activity == "Run")]
david_run.head()

     Last_name First_name Activity  Duration        Date
36   Douberley      David      Run        43  2020-10-20
135  Douberley      David      Run        22  2020-10-20
161  Douberley      David      Run        35  2020-10-19
198  Douberley      David      Run         7  2020-10-23
244  Douberley      David      Run        40  2020-10-14

In [10]:
#apply date range and sort to find largest duration for the period
this_week = david_run[(david_run['Date'] > '2020-10-16') & (david_run['Date'] <= '2020-10-23')]

david_sorted = this_week.sort_values("Duration", ascending=False)

david_sorted.head(1)

     Last_name First_name Activity  Duration        Date
696  Douberley      David      Run        59  2020-10-17

### What is David Douberley's total exercise logged this week, in each category (Swim, Bike, and Run)?  
#### Mr. Douberley's total exercise for the date range provided is as follows Swim 458, Run 504, Bike 210

In [12]:
#isolated Douberley,D including all activities for the given week
weeks_total = david_df[(david_df['Date'] > '2020-10-16') & (david_df['Date'] <= '2020-10-23')]

weeks_total.head()

     Last_name First_name Activity  Duration        Date
30   Douberley      David     Swim        25  2020-10-23
36   Douberley      David      Run        43  2020-10-20
100  Douberley      David     Bike        21  2020-10-23
117  Douberley      David     Swim        54  2020-10-17
135  Douberley      David      Run        22  2020-10-20

In [13]:
#Used groupby first and last to ensure others with the same name are removed from the results
#groupby activity, and grab the sum for each activity
david_group = weeks_total.groupby(["Last_name", "First_name","Activity"]).sum()

print(david_group)

                               Duration
Last_name First_name Activity
Douberley David      Bike           210
                     Run            504
                     Swim           458

### Who are the top three athletes this week? That is, the participants who have logged the highest total duration of all three exercises.
#### The top three athletes across all three exercise categories within the given date range are Perez, Kim (2103), Douberley, Tareq (1560), and Van Damme, Krista (1349)

In [19]:
#Aplly date range to entire data set
group_total = long_run_df[(long_run_df['Date'] >= '2020-10-17') & (long_run_df['Date'] <= '2020-10-23')]

In [16]:
#Group the previous object by Last & First to isolate each individual
#Grab the sum of all duration amounts per each individual using .sum()
thisweeks_total = group_total.groupby(["Last_name", "First_name"])

final_totals = thisweeks_total.sum()

In [17]:
#Sort the dataframe to identify the top three
top_three = final_totals.sort_values("Duration", ascending=False)

top_three.head(3)

                      Duration
Last_name First_name
Perez     Kim             2103
Douberley Tareq           1560
Van Damme Krista          1349